.loader {
  border: 4px solid #a3a3a3; /* Color de fondo del círculo */
  border-radius: 50%;
  border-top: 4px solid #1fdf64; /* Color del borde giratorio */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animación giratoria */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
