.loader {
  border: 0.4em solid #a3a3a3; /* Color de fondo del círculo */
  border-radius: 50%;
  border-top: 0.4em solid #1fdf64; /* Color del borde giratorio */
  width: 1.5em;
  height: 1.5em;
  animation: spin 1s linear infinite; /* Animación giratoria */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
